@import "~@styles/common.scss";

.charity__container{
  background-color: #F6F6F6;
  // background-color: #3C3B3B;
  .charity__possibilities{
    padding: map-get($header, global-h) 0 0 20px;
    margin: 0 auto;
    @include sizes($h: max-content);
    display: flex;
    justify-content: center;
    align-items: center;



    .charity__block {
      @include sizes($h: 260px, $w: 220px);
      background-color: #3C3B3B;
      border: white 2px dashed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px 15px;
      margin: 35px 0;
      .charity__icon {
        color: #F6F6F6;
        font-size: 6em;
      }
    }
    .charity__block:hover {
      transform: translate(0, -20px);
      box-shadow: 0 5px 10px 10px rgba(255, 255, 255, 0.2);
    }
    .charity__info{
      @include sizes($h: 320px);
      margin-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .charity__text {
        width: 360px;
        text-align: center;
      }
      .charity__chat {
        i {
          color: #F6F6F6;
          font-size: 2em;
        }
      }
    }

  }


}