@import "~@styles/common.scss";

.modalPost__container {
  @include sizes($h: max-content, $w: max-content);
  background: #F6F6F6;
  box-shadow: $shadow;
  padding: 40px;
  .modalPost__header {
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .modalPost__buttons {
    display: flex;
    justify-content: space-around;
    i {
      font-size: 2em;
    }
    font-weight: bold;
    margin-bottom: 15px;
  }
}