@font-face {
  font-family: 'Mohave';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@assets/fonts/Mohave-Regular.woff") format("woff"),
  url("~@assets/fonts/Mohave-Regular.ttf") format("truetype");
}