@import "null";
@import "fonts";
@import "variables";
@import "root";
@import "templates";

html, body {
  font-family: Mohave, sans-serif;
  background-color:  map-get($colors, b-color);
  position: relative;
  margin: 0 auto;
}

