@import "~@styles/common.scss";

.recent_accidents__container {
  @include paddings(map-get($header, global-h));
  padding-bottom: 15px;
  .recent_accidents_h2{
    padding: 15px 0;
  }
  .recent_accidents {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 25px;
    overflow: hidden;
    height: 600px;

    .recent_accidents__map {

    }

    .recent_accidents__gallery {

    }
  }
}