@import "~@styles/common.scss";

.accident__container {
  .accident__content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    .accident__picture {
      @include sizes($h: 400px, $w: 600px)
    }
    .accident__description {
      color: #3C3B3B;
      margin-left: 25px;
      .accident__descrElement {
        background-color: #3C3B3B;
        color: #FFFFFF;
      }
    }
  }
}