@import "~@styles/common.scss";

.goal__container {
  @include sizes($h: 100px, $w: 100px);
  border-radius: 100px;
  border: 6px solid #F6F6F6;
  //margin: 10px;
  box-sizing: border-box;
  box-shadow: $shadow;

  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 10px;

  .goal__icon {
    font-size: 50px;
  }
  .goal__icon.legs {
    padding-left:5px;
    transform: rotate(-45deg);
  }
  .goal__icon.tree {
    padding-left:13px;
  }
  .goal__icon.traces {
    padding-left:8px;
  }
  .goal__description {
    padding-left: 40px;
    color: transparent;
    font-weight: bold;
  }
}
.goal__container:hover {
  transition-duration: 2s;
  border: none;
  background-color: #3C3B3B;
  width: 700px;
  .goal__description {
    transition-delay: 0.8s;
    color: white;
  }
}
