@import "~@styles/common.scss";

.event__container {
  @include sizes($h: 270px, $w: 370px);
  background-color: #3C3B3B;
  box-shadow: $shadow;
  padding: 15px;
  margin-bottom: 15px;
  .event__content {
    @include sizes($h: 100%, $w: 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .event__picture {
      background-color: #ffffff;
      @include sizes($h: 170px, $w: 100%);
      box-shadow: $shadow;
    }
    .event__description{
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba(246, 246, 246, 0.5);
      @include sizes($h: 85px, $w: 100%);
      color: #FFFFFF;
      box-shadow: $shadow;
    }
  }
}