@import "~@styles/common.scss";

.header__container {
  position: absolute;
  color: map-get($colors, header-color);
  top: 0;
  left: 0;
  background-image: url("~@files/header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include sizes($h: map-get($header, global-h), $w: 100%);
  text-align: center;

  .header {
    @include sizes($h: map-get($header, h), $w: 100%);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("~@files/header.png");
    background-repeat: no-repeat;
    background-size: 100% 600%;
    display: flex;
    justify-content: space-between;
  }

  .tagline__container {
    .tagline {
      color: rgba(255, 255, 255, 0.6);
      letter-spacing: -2px;
      margin-top: map-get($header, h)+50px;
      font-size: 96px;
      font-weight: bold;
      padding-right: 250px;
    }
  }

}

@media all and (max-width: 800px) {
  .header__container {
    background-image: none;
    @include sizes($h: map-get($header, mobile-global-h), $w: 100%);

    .header {
      @include sizes($h: map-get($header, mobile-h), $w: 100%);
      background-size: 100% 130%;
    }
  }
}